* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

$mainBlack: #222;
$mainGreen: #466d1d;
$mainWhite: #fff;
$mainGrey: #ececec;
$mainDarkGrey: #555555;
$mainRed: #921a1a;
$mainTransition: all 0.2s linear;

body {
	font-family: "Open Sans", sans-serif;
	background: $mainWhite;
	color: $mainBlack;
}
